body {
    background-color: azure;
}

#header {
    color: red;
    background-color: burlywood;
    text-align: center;
}

#button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#score-box {
    text-align: center;
}
.game-button {
    border: 3px solid black;
    border-radius: 3px;
    height: 150px;
    width: 150px;
    text-align: center;
    line-height: 118px;
}

.reset {
    margin: 20px;
}